{% extends "common.html" %}
    {% block content %}
    {% load static %}
    {% load humanize %}
    
    <h3 class="container my-3">Welcome back {{ firstname }}</h3>
    {% comment %} <img src="{% static "images/wall1.jpg" %}" alt="" height='200'> {% endcomment %}
    <div class="container">
        <div class="row">
            {% for user in contacts %}

                <div class="col-md-4">
                    <div class="container border shadow-sm p-3 my-2 rounded">
                        <img src="{{ user.image }}" alt="" height="200">
                        <p>{{user.name|upper}} - {{user.course}} - {{user.age|default:"__ years"}}</p>
                        <p>Amount: #{{user.amount|intcomma}} </p>
                        {% comment %} <p>{{user.bio|slice:":10"}}... <a href="">read more</a></p> {% endcomment %}
                        <p>{{user.bio|truncatewords:10 }} <a href="">read more</a></p>
        
                        {% if isAdmin %}
                            <button class="btn btn-primary">Edit</button> <button class="btn btn-secondary">View</button>
                        {% else %} 
                            <button class="btn btn-secondary">View</button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
   
    {% include "info.html" %}
    {% endblock content %}